<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/ico" href="favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Permissions</title>
</head>
<body>
    <div id="claim"></div>
    <div id="btn">
        <button onclick="handleUser(true)">Accept</button>
        <button onclick="handleUser(false)">Deny</button>
    </div>
    <div id="response"></div>
    <script>
        let providerURI = 'https://localhost:3000'
        // fetch params
        let params = {};
        const existingParams = new URLSearchParams(window.location.search);
        for (const param of existingParams) {
            params[param[0]] = param[1];
        }
        // resolve relying party name
        let uri = new URL(providerURI + '/providername')
        uri.search = new URLSearchParams({client_id: params["client_id"]}).toString();
        fetch(uri, {method: 'POST'})
            .then(res => res.json())
            .then(data => {
                if (data.success) {
                    let relyingPary = data.client_name;
                    let claim = document.getElementById("claim");
                    let h3 = document.createElement("h3");
                    h3.style.color = "red";
                    h3.appendChild(document.createTextNode(`Do you grant ${relyingPary} access to read your ${params["scope"]}?`));
                    claim.appendChild(h3);
                } else {
                    let uri = new URL(providerURI + '/authenticate')
                    uri.search = new URLSearchParams(params).toString();
                    location.assign(uri);
                }
            });

        function handleUser(accepted) {
            if (accepted) {
                let uri = new URL(providerURI + '/permissions')
                params.accept = accepted;
                uri.search = new URLSearchParams(params).toString();
                fetch(uri, {method: 'POST'})
                .then(res => res.json())
                .then(data => {
                    if (data.success) {
                        const redirect_uri = new URL(data.redirect_uri)
                        redirect_uri.search = new URLSearchParams({code: data.code}).toString();
                        location.assign(redirect_uri);
                    }
                })
            } else {

                const r = document.getElementById('response');
                if (r.childElementCount == 0) {
                    let btn = document.getElementById('btn');
                    btn.remove()
                    let p = document.createElement("p");
                    p.style.color = "blue";
                    p.appendChild(document.createTextNode("Access will not be granted"));
                    r.appendChild(p)
                }

            }
        }

    </script>
</body>
</html>