<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/ico" href="favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
</head>
<body>
    <h1>Account</h1>
    <p>email: <b><%= FOUND_EMAIL %></b></p>
    <p>username: <b><%= FOUND_USERNAME %></b></p>
</body>
</html>