<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>waiting for authentication...</p>
    <div id="prov" data-uri=<%= PROV_URI %>></div>
    <div id="app" data-uri=<%= APP_URI %>></div>
    <script>
        let providerURI = document.getElementById("prov").dataset.uri;
        let appURI = document.getElementById("app").dataset.uri;
        // redirect user
        const STATIC_CLIENT_ID = "3913614092307123";
        let uri = new URL(providerURI + '/authenticate')
            uri.search = new URLSearchParams({
            response_code: "code",
            scope: "openid profile",
            client_id: STATIC_CLIENT_ID,
            redirect_uri: `${appURI}/account`
        }).toString();
        window.open(uri, '_top')
    </script>
</body>
</html>